
.container {
    display: grid;
    /* grid-template-columns: ; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr 2fr);
    height: 300px;
    background-color: rgb(94, 94, 94);
}

.item {
    color: antiquewhite;
    border: 2px rgb(255, 249, 248);
}