body {
    color: aliceblue;
    background-color: black;
}

.container {
    color: aliceblue;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    background-color: rgb(179, 13, 88);
}

.item-1 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: pink;
}

.item-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    z-index: 10;
    background-color: rgb(255, 138, 158);
}

.item-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    z-index: 10;
    background-color: rgb(254, 77, 107);
}

.item-4 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    background-color: rgb(255, 28, 66);
}