/* 




*/

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
    background-color: crimson;
}

.item {
    border: 2px rgb(255, 198, 229);
}